:root {
  --vp-home-hero-name-color: transparent;
  --vp-home-hero-name-background: linear-gradient(135deg, #c8df8bf8 10%, #2bc0ac 100%);

  /* 图标背景 */
  --vp-home-hero-image-background-image: linear-gradient(135deg, #c8df8bf8 10%, #2bc0ac 100%);
  --vp-home-hero-image-filter: blur(150px);
  --vp-c-brand: #2bc0ac;
  --vp-sidebar-bg-color: #fff;
  --vp-code-block-bg: #f6f6f7;
  --vp-c-divider: transparent;
  --demo-block-shadow: 0 0 1px 1px #f5f5f5;
  --demo-block-hover-shadow: #f5f5f5;
  --block-border-color: #eff2f6;
}

.dark {
  --vp-sidebar-bg-color: #1e1e20;
  --vp-code-block-bg: #282828;
  --demo-block-shadow: unset;
  --demo-block-hover-shadow: unset;
  --block-border-color: #343333;
}

.VPContent .VPHome .VPHero.VPHomeHero .actions .VPButton.medium.brand {
  background-color: #2bc0ac;
}

/*滚动条宽或高*/
*::-webkit-scrollbar {
  width: 5px;
  height: 1px;
}

/*正常情况下滑块的样式*/
*::-webkit-scrollbar-thumb {
  background-color: transparent;
  border-radius: 3px;
}

/*鼠标悬浮在该类指向的控件上时滑块的样式*/
*:hover::-webkit-scrollbar-thumb {
  background-color: #6a708028;
  border-radius: 3px;
}

/*鼠标悬浮在滑块上时滑块的样式*/
*::-webkit-scrollbar-thumb:hover {
  background-color: #6a708028;
  border-radius: 3px;
}

/*正常时候的主干部分*/
*::-webkit-scrollbar-track {
  border-radius: 5px;
  background: transparent;
}

/*鼠标悬浮在滚动条上的主干部分*/
*::-webkit-scrollbar-track:hover {
  background-color: transparent;
}

/* .VPDoc.has-sidebar.has-aside {
  background-color: #ffffff;
} */


.demo-block {
  box-shadow: var(--demo-block-shadow);
}

.demo-block:hover {
  box-shadow: 0 0 3px 0px var(--demo-block-hover-shadow);
}

.demo-block.hover {
  box-shadow: 0 0 3px 0px var(--demo-block-hover-shadow);
}

.vp-doc pre {
  z-index: unset !important;
}

.demo-block-control {
  width: 100% !important;
}

.VPDoc.has-aside .container .content .content-container {
  max-width: 815px;
}

table thead, table tbody {
  width: 100%;
}
@media (min-width: 1440px) {
  .VPContent.has-sidebar {
    padding-right: calc((100vw - var(--vp-layout-max-width)) / 5)  !important;
  }
}

@media (min-width: 960px) {
  .VPSidebar {
    height: calc(100% - 70px);
    margin-top: 70px;
    padding-top: 10px !important;
  }
  .VPSidebar .VPSidebarItem.level-1.is-link {
    padding: 3px 20px;
  }

  .VPLink.link.VPNavBarMenuLink {
    background: linear-gradient(to right, var(--vp-c-brand), var(--vp-c-brand)) no-repeat right bottom;
    background-size: 0 2px;
    transition: background-size 0.3s;
  }
  .VPLink.link.VPNavBarMenuLink:hover {
    background-position-x: left;
    background-size: 100% 2px;
  }
  .VPLink.link.VPNavBarMenuLink.active {
    background: linear-gradient(to right, var(--vp-c-brand), var(--vp-c-brand)) no-repeat right bottom;
    background-size: 100% 2px;
  }

  .VPSidebar .VPSidebarItem.level-1.is-link.is-active.has-active {
    background-color: #2fd3bd2a;
    border-radius: 8px;
  }
  .VPDoc.has-sidebar.has-aside .container .content {
    padding: 0 0px 128px;
  }
  
  .VPDoc.has-sidebar.has-aside .container .aside {
    padding-left: 0;
  }
  .VPDoc.has-sidebar.has-aside .container .VPDocAside .VPDocAsideOutline.has-outline .content {
    padding-left: 10px;
  }
  .VPDocAside .VPDocAsideOutline.has-outline .outline-marker{
    width: 5px;
    border-radius: 0 5px 5px 0;
  }
  .VPDocAside .VPDocAsideOutline.has-outline .content .root li .outline-link.active{
    color: #2bc0ac;
  }
  
}

.block {
  position: relative;
  padding: 20px 0;
  text-align: center;
  display: inline-block;
  width: 20%;
  box-sizing: border-box;
  vertical-align: top;
}
.block:not(:last-child) {
  border-right: 1px solid var(--block-border-color);
}

.general-span {
  display: block;
  color: #8492a6;
  font-size: 12px;
  margin-top: 15px;
}

.vp-doc table, table thead, table tbody {
  display: flex;
  flex-direction: column;
  width: 100%;
} 

table tr {
  width: 100%;
  display: flex;
}

table th, table td {
  flex: 1;
}

table td code {
  background-color: #2fd3bd2a !important;
}

table th:nth-child(3), table td:nth-child(3) {
  flex: none;
  width: 70px;
}

table th:nth-child(4), table td:nth-child(4) {
  flex: none;
  width: 180px;
}

table th:last-child, table td:last-child {
  flex: none;
  width: 90px;
}

table th:first-child, table td:first-child {
  flex: none;
  width: 130px;
}

