.icon {
  width: 1em;
  height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}

@import './var.scss';
@import './src/k-authcode.scss';
@import './src/k-botton.scss';
@import './src/k-filterBox.scss';
@import './src/k-icon.scss';
@import './src/k-image.scss';
@import './src/k-notification.scss';
@import './src/k-watermark.scss';
@import './src/k-loading.scss';
@import './src/k-contextMenu.scss';

