.k-button {
  border-radius: 5px;
  background-color: v-bind(color);
  transition: all 0.3s ease;
  cursor: pointer;
  margin: 4px;
  padding: 4px 16px;
  border: none;
  color: white;
  &::after {
    transition: all 0.3s ease;
  }
  &.default:hover {
    filter: brightness(1.1);
  }
  &.insert {
    position: relative;
    color: #fff;
    z-index: 1;
    border: none;
    overflow: hidden;
    &::after {
      position: absolute;
      content: '';
      z-index: -1;
      border-radius: 5px;
      background-color: inherit;
      filter: brightness(1.1);
    }
    &.top::after,
    &.bottom::after {
      width: 100%;
      height: 0;
    }
    // direction=top
    &.top::after {
      bottom: 0;
      left: 0;
    }
    &.top:hover::after {
      top: 0;
      bottom: auto;
      height: 100%;
    }
    // direction=bottom
    &.bottom::after {
      top: 0;
      left: 0;
    }
    &.bottom:hover::after {
      bottom: 0;
      top: auto;
      height: 100%;
    }
    &.left::after,
    &.right::after {
      width: 0;
      height: 100%;
    }
    // direction=left
    &.left::after {
      top: 0;
      right: 0;
    }
    &.left:hover::after {
      left: 0;
      right: auto;
      width: 100%;
    }
    // direction=right
    &.right::after {
      top: 0;
      left: 0;
    }
    &.right:hover::after {
      right: 0;
      left: auto;
      width: 100%;
    }
    &:active {
      top: 2px;
    }
  }
  &.is-disabled {
    cursor: not-allowed;
    opacity: 0.5;
    &:active {
      top: 0;
    }
    &:hover {
      filter: unset;
    }
    &:hover::after {
      content: unset;
    }
  }
}