.k-comment {
  width: 100%;
  .k-comment-top {
    width: 100%;
    #k-comment-input {
      background-color: #f2f3f5;
      min-width: 100%;
      max-width: 100%;
      height: auto;
      min-height: 130px;
      overflow-y: auto;
      border: none;
      font-size: 16px;
      font-weight: 400;
      text-align: left;
      padding: 0 10px 0 5px;
      box-sizing: border-box;
      line-height: 30px;
      &::-webkit-scrollbar {
        display: none;
      }
      &:focus-visible {
        outline: none;
      }
      .k-comment-image {
        width: auto;
        max-width: 150px;
      }
      &:focus{
        // background-color: #f8f9fa;
        // resize: vertical;
        // & + .k-comment-btn {
        //   visibility: visible;
        // }
      }
    }
    .k-comment-btn {
      display: flex;
      justify-content: space-between;
      align-items: center;
      // visibility: hidden;
      position: relative;
      width: 100%;
      height: auto;
    }
  }
}