.k-dialog {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  visibility: hidden;
  z-index: 3000;
  transition: all 0.3s;
  .k-dialog-mask {
    width: inherit;
    height: inherit;
    background: var(--k-mask-bg);
    overflow-y: auto;
    padding-bottom: 120px;
    box-sizing: border-box;
    transition: opacity 0.3s;
    opacity: 0;
  }
  .k-dialog-content {
    position: relative;
    top: 100px;
    margin: auto;
    width: 500px;
    overflow: hidden;
    padding: 20px;
    border: none;
    border-radius: 5px;
    outline: unset;
    transition: opacity 0.3s, transform 0.5s;
    background: var(--k-zebra-bg);
    z-index: 3001;
    transform: translateY(-15%);
    opacity: 0;
  }
  &:focus-visible {
    border: none;
    outline: unset;
  }
  .k-dialog-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    // border-bottom: 1px solid var(--k-border-color);
    width: 100%;
    .k-dialog-closeBtn {
      cursor: pointer;
      transition: all 0.3s;
      &:hover {
        color: var(--k-theme-interact-color);
      }
    }
  }
  .k-dialog-body {
    width: 100%;
    text-align: left;
  }
  .k-dialog-footer {
    width: 100%;
    text-align: right;
  }
  &.open {
    visibility: visible;
    .k-dialog-mask {
      opacity: 1;
    }
    .k-dialog-content {
      transform: translateY(0);
      opacity: 1;
    }
  }
}
