dialog.k-dialog {
  position: fixed;
  width: 500px;
  min-height: 50px;
  max-height: 100vh;
  padding: 15px;
  border: none;
  border-radius: 5px;
  outline: unset;
  visibility: hidden;
  opacity: 0;
  transform: translateY(-40%);
  transition: opacity 0.2s, visibility 0.2s, transform 0.3s;
  &:focus-visible {
    border: none;
    outline: unset;
  }
  .k-dialog-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    // border-bottom: 1px solid var(--k-border-color);
    width: 100%;
    .k-dialog-closeBtn {
      cursor: pointer;
      transition: all 0.3s;
      &:hover {
        color: var(--k-theme-interact-color);
      }
    }
  }
  .k-dialog-body {
    width: 100%;
    text-align: left;
  }
  .k-dialog-footer {
    width: 100%;
    text-align: right;
  }
  &:not([open]) {
    display: block;
    opacity: 0;
    visibility: hidden;
    transform: translateY(-40%);
  }
  &:model {
    // display: block;
    // opacity: 0;
    // visibility: hidden;
    // transform: translateY(-40%);
  }
}
