.k-drawer {
    .k-drawer-mask {
      position: fixed;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100vh;
      z-index: 2000;
      background: var(--k-mask-bg);
    }
    .k-drawer-content {
      position: fixed;
      min-width: 340px;
      min-height: 340px;
      margin: auto;
      z-index: 2000;
      background: var(--k-zebra-bg);
      // visibility: hidden;
      // transition: transform 0.3s, visibility 0.5s;
      padding: 20px;
      overflow: auto;
      box-sizing: border-box;
      &.left {
        top: 0;
        left: 0;
        height: 100vh;
        transform: translateX(0) translateY(0);
      }
      &.right {
        top: 0;
        right: 0;
        height: 100vh;
        transform: translateX(0) translateY(0);
      }
      &.top {
        top: 0;
        left: 0;
        width: 100vw;
        transform: translateY(0) translateX(0);
      }
      &.bottom {
        bottom: 0;
        left: 0;
        width: 100vw;
        transform: translateY(0) translateX(0);
      }
    }

  .kDrawer-enter-active,
  .kDrawer-leave-active {
    transition: visibility 0.3s ease, transform 0.3s ease, opacity 0.3s ease;
  }

  .kDrawer-enter-to, .kDrawer-leave-from{
    &.k-drawer-mask {
      opacity: 1;
    }
    &.left {
      top: 0;
      left: 0;
      height: 100vh;
      transform: translateX(0) translateY(0);
    }
    &.right {
      top: 0;
      right: 0;
      height: 100vh;
      transform: translateX(0) translateY(0);
    }
    &.top {
      top: 0;
      left: 0;
      width: 100vw;
      transform: translateY(0) translateX(0);
    }
    &.bottom {
      bottom: 0;
      left: 0;
      width: 100vw;
      transform: translateY(0) translateX(0);
    }
  }

  .kDrawer-enter-from,
  .kDrawer-leave-to {
    &.k-drawer-mask {
      opacity: 0;
    }
    &.left {
      top: 0;
      left: 0;
      height: 100vh;
      transform: translateX(-150%) translateY(0);
    }
    &.right {
      top: 0;
      right: 0;
      height: 100vh;
      transform: translateX(150%) translateY(0);
    }
    &.top {
      top: 0;
      left: 0;
      width: 100vw;
      transform: translateY(-150%) translateX(0);
    }
    &.bottom {
      bottom: 0;
      left: 0;
      width: 100vw;
      transform: translateY(150%) translateX(0);
    }
    visibility: hidden;
  }
}