.k-message-wrapper {
  position: fixed;
  top: 10px;
  z-index: 999;
  left: 50%;
  transform: translateX(-50%);
}
.slide-fade-enter-active {
  transition: all 0.3s ease-out;
}

.slide-fade-leave-active {
  transition: all 0.8s cubic-bezier(1, 0.5, 0.8, 1);
}

.slide-fade-enter-from,
.slide-fade-leave-to {
  transform: translateX(20px);
  opacity: 0;
}

$success-font: #22c55e;
$info-font: #6b7280;
$warning-font: #eab308;
$error-font: #ef4444;
$primary-color: var(--theme-color);

.k-message {
  display: block;
  padding: 15px 15px 15px 20px;
  margin-top: 16px;
  min-width: 300px;
  background-color: $primary-color;
  border-radius: 8px;
  transition: all 0.3s;
  transition: opacity 0.3s, transform 0.4s, top 0.4s;
  box-shadow: 2px 1px 5px 2px rgba(0, 0, 0, 0.1);
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;

  &-contents {
    padding-right: 16px;
  }

  .close-message {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;

    i {
      font-size: 12px;
    }
  }

  &-success {
    background-color: #f0f9eb;
    border-color: #e1f3d8;

    .cc-message-content,
    i {
      color: $success-font;
    }
  }

  &-error {
    background-color: #fef0f0;
    border-color: #fde2e2;

    .cc-message-content,
    i {
      color: $error-font;
    }
  }

  &-info {
    background-color: #edf2fc;
    border-color: #ebeef5;

    .cc-message-content,
    i {
      color: $info-font;
    }
  }

  &-warning {
    background-color: #fdf6ec;
    border-color: #faecd8;

    .cc-message-content,
    i {
      color: $warning-font;
    }
  }
}

