$list: top bottom left right;
.k-tooltip {
  cursor: pointer;
  &:hover +.tooltip-content {
    // opacity: 1;
  }
}
.k_tooltip {
  transition: all 0.3s;
  .tooltip-content {
    position: fixed;
    width: fit-content;
    height: fit-content;
    padding: 5px 8px;
    box-sizing: border-box;
    border-radius: 5px;
    cursor: pointer;
    user-select: none;
    font-size: 12px;
    z-index: 9990;
    white-space: nowrap;
    background: var(--k-tooltip-bg);
  }
  .tooltip-triangle {
    position: fixed;
    display: inline-block;
    width: 10px;
    height: 10px;
    border: 5px solid transparent;
    z-index: 9990;
    background-color: inherit;
    box-sizing: border-box;
  }
  @each $position in $list {
    .tooltip-triangle.#{$position} {
      border-#{$position}-color: var(--k-tooltip-bg);
    }
  }
  &.light {
    --k-tooltip-bg: #fff;
    .tooltip-content {
      color: #000;
      filter: drop-shadow(0px 0px 4px #c0c0c0);
    }
  }
  &.dark {
    --k-tooltip-bg: #000;
    .tooltip-content {
      color: #fff;
      filter: drop-shadow(0px 0px 2px #747474);
    }
  }
}