.k-watermark {
  width: 100vw;
  height: 100vh;
  position: absolute;
  z-index: 5;
  inset: 0;
  margin: auto;
  overflow: hidden;
  pointer-events: none;

  .watermarkText {
    width: 2000vw;
    height: 2000vh;
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -1000vw -1000vh;
    pointer-events: none;
    opacity: v-bind('params.opacity');
    rotate: v-bind('params.rotate');
  }
}