.k-watermark {
  width: 100vw;
  height: 100vh;
  position: absolute;
  z-index: 5;
  inset: 0;
  margin: auto;
  overflow: hidden;
  pointer-events: none;

  .watermarkText {
    width: 400vw;
    height: 400vh;
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    pointer-events: none;
  }
}