@font-face {
  font-family: "u-icon"; /* Project id 1582161 */
  src: url('iconfont.woff2?t=1677605337287') format('woff2'),
       url('iconfont.woff?t=1677605337287') format('woff'),
       url('iconfont.ttf?t=1677605337287') format('truetype');
}

.u-icon {
  font-family: "u-icon" !important;
  font-size: 20px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-copy:before {
  content: "\e706";
}

.icon-menu:before {
  content: "\e60c";
}

.icon-delete:before {
  content: "\e684";
}

.icon-earth:before {
  content: "\e781";
}

.icon-sync:before {
  content: "\e786";
}

.icon-undo:before {
  content: "\e787";
}

.icon-redo:before {
  content: "\e788";
}

.icon-eye:before {
  content: "\e78f";
}

.icon-linechart:before {
  content: "\e7af";
}

.icon-barchart:before {
  content: "\e7b0";
}

.icon-like1:before {
  content: "\e7c8";
}

.icon-unlike:before {
  content: "\e7c9";
}

.icon-folder:before {
  content: "\e7d1";
}

.icon-folder-open:before {
  content: "\e7d2";
}

.icon-heart:before {
  content: "\e7df";
}

.icon-edit1:before {
  content: "\e7e1";
}

.icon-fullscreen:before {
  content: "\e7ec";
}

.icon-fullscreen-exit:before {
  content: "\e7ed";
}

.icon-indent:before {
  content: "\e7f3";
}

.icon-outdent:before {
  content: "\e7f4";
}

.icon-close1:before {
  content: "\e7fc";
}

.icon-clear:before {
  content: "\e900";
}

.icon-compress:before {
  content: "\e914";
}

.icon-expend:before {
  content: "\e915";
}

.icon-search:before {
  content: "\e67c";
}

.icon-about:before {
  content: "\e601";
}

.icon-add:before {
  content: "\e602";
}

.icon-arrowleft:before {
  content: "\e607";
}

.icon-addressbook:before {
  content: "\e608";
}

.icon-bag:before {
  content: "\e609";
}

.icon-arrowdown:before {
  content: "\e60a";
}

.icon-back:before {
  content: "\e60b";
}

.icon-alarm:before {
  content: "\e60d";
}

.icon-arrowup:before {
  content: "\e610";
}

.icon-circle:before {
  content: "\e614";
}

.icon-camera:before {
  content: "\e615";
}

.icon-card:before {
  content: "\e616";
}

.icon-arrowright:before {
  content: "\e617";
}

.icon-cart:before {
  content: "\e618";
}

.icon-clock:before {
  content: "\e61a";
}

.icon-circle-selected:before {
  content: "\e61b";
}

.icon-calendar:before {
  content: "\e61c";
}

.icon-close:before {
  content: "\e61d";
}

.icon-edit:before {
  content: "\e61e";
}

.icon-check:before {
  content: "\e620";
}

.icon-bottom:before {
  content: "\e622";
}

.icon-explain:before {
  content: "\e625";
}

.icon-deletekey:before {
  content: "\e626";
}

.icon-histogram:before {
  content: "\e627";
}

.icon-friendadd:before {
  content: "\e628";
}

.icon-home:before {
  content: "\e629";
}

.icon-enlarge:before {
  content: "\e62a";
}

.icon-gps:before {
  content: "\e62b";
}

.icon-feedback:before {
  content: "\e62c";
}

.icon-exchange:before {
  content: "\e62d";
}

.icon-link:before {
  content: "\e62e";
}

.icon-like:before {
  content: "\e62f";
}

.icon-mail:before {
  content: "\e630";
}

.icon-manage:before {
  content: "\e631";
}

.icon-narrow:before {
  content: "\e632";
}

.icon-listview:before {
  content: "\e633";
}

.icon-more:before {
  content: "\e634";
}

.icon-message:before {
  content: "\e636";
}

.icon-order:before {
  content: "\e637";
}

.icon-people:before {
  content: "\e638";
}

.icon-pie:before {
  content: "\e639";
}

.icon-picture:before {
  content: "\e63a";
}

.icon-partake:before {
  content: "\e63b";
}

.icon-notice:before {
  content: "\e63c";
}

.icon-plus:before {
  content: "\e63d";
}

.icon-pwd:before {
  content: "\e63e";
}

.icon-setup:before {
  content: "\e640";
}

.icon-share:before {
  content: "\e641";
}

.icon-screen:before {
  content: "\e642";
}

.icon-star:before {
  content: "\e643";
}

.icon-top:before {
  content: "\e644";
}

.icon-skin:before {
  content: "\e645";
}

.icon-sweep:before {
  content: "\e646";
}

.icon-shut:before {
  content: "\e647";
}

.icon-voice:before {
  content: "\e64b";
}

