@media (prefers-color-scheme: light) {
  :root {
    --border-color: #ebeef5;
    --theme-color: #3bd3be;
    --theme-hover-color: #40d9c4;
    --font-color: #606266;
    --zebra-bg: #fafafa;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --border-color: #7c7c7c;
    --theme-color: #3bd3be;
    --theme-hover-color: #40d9c4;
    --font-color: #606266;
    --zebra-bg: #838383;
  }
}

/* 主动变更 */
.light {
  --border-color: #ebeef5;
  --theme-color: #3bd3be;
  --theme-hover-color: #40d9c4;
  --font-color: #606266;
  --zebra-bg: #fafafa;
}

.dark {
  --border-color: #797979;
  --theme-color: #3bd3be;
  --theme-hover-color: #40d9c4;
  --font-color: #fff;
  --zebra-bg: #535353;
}


@import './src/u-authcode.scss';
@import './src/u-botton.scss';
@import './src/u-filterBox.scss';
@import './src/u-icon.scss';
@import './src/u-image.scss';
@import './src/u-notification.scss';
@import './assets/iconfont.css';

